
/*=============================*/
.register-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.register-logo h1 {
  font-size: 35px;
  color: var(--color-primary);
  margin-bottom: 0px;
}

.register-logo i {
  font-size: 30px;
  color: var(--color-primary);
}

.register-svg {
  text-align: center;
}

.register-svg img {
  width: 50%;
}


/* ออกแบบสำหรับฟอร์มล็อกอิน */
.register-form-container {
  max-width: 355px;
  margin: 0 auto;
  padding: 0px 20px 0px 20px;

  border-radius: 10px;

}

.register-form .form-group {
  margin-bottom: 15px;
}

.register-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #4A4A57;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
background-color: #fff;

}

.register-form .btn-register {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.register-form .btn-register:hover {
  background-color: var(--color-primary-hover);
}

.register-form .form-links {
  text-align: right;
  font-size: 12px;
  margin-bottom: 10px;
}

.register-form .form-links a {
  color: #7C7C8A;
  text-decoration: none;
}

.register-form .form-links a:hover {
  text-decoration: underline;
}



/* ปรับสไตล์สำหรับปุ่มล็อกอินด้วย Google, LINE, Facebook */
.social-login {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  justify-content: space-around;
}

.social-login button {
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
  width: 30%;
  border: 1px solid #e3e1e191;

}

/* ปรับสไตล์สำหรับปุ่มล็อกอินด้วย Google */
.btn-google img {
  width: 28px;

}

/* ปรับสไตล์สำหรับปุ่มล็อกอินด้วย LINE */
.btn-line i {
  color: #00c300;
}

/* ปรับสไตล์สำหรับปุ่มล็อกอินด้วย Facebook */
.btn-facebook i {
  color: #3b5998;
}

/* ปรับเปลี่ยนเมื่อโฮเวอร์ */
.social-login button:hover {
  opacity: 0.8;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  /* เงาที่เข้มขึ้นเมื่อโฮเวอร์ */
}

/* ไอคอนในปุ่ม */
.social-login button i {
  font-size: 28px;
  /* ขนาดไอคอน */

}

.social-title {


  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 50px;

}

.social-title span {}

.social-title hr {
  flex: 1;
  border: none;
  border-top: 1px solid #ccc;
  /* ปรับสีเส้นตามต้องการ */
  margin: 0 10px;
  /* ระยะห่างระหว่างเส้นกับข้อความ */
}

.social-title span {
  color: #7C7C8A;
  font-size: 13px;
  font-weight: 500;
  padding: 0 10px;
  white-space: nowrap;
  /* ป้องกันข้อความแตกบรรทัด */
}

.sign-up-title {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  gap: 5px;
}

.sign-up-title h1 {
  font-size: 13px;
  color: #7C7C8A;
  font-weight: 500;
  margin-bottom: 0px;
}

.sign-up-title a {
  font-size: 13px;
  text-decoration: none;
  margin-left: 5px;
  color: var(--color-primary);
}



/* ปุ่มลูกศรกลับ */
.back-arrow {
  position: absolute;
 top:10;
}

.back-arrow a {
  font-size: 24px;
  color: #000; /* สีของไอคอน */
  text-decoration: none;
}

.back-arrow a:hover {
  opacity: 0.7;
}
.back-arrow a i{
  color: #7C7C8A;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
font-size: 14px;
}




/* สไตล์ทั่วไป (สำหรับขนาดหน้าจอใหญ่เช่นคอมพิวเตอร์) */
.register-container {
  background: var(--color-white);
  padding: 15px 20px;
  /* กำหนด padding สำหรับหน้าจอใหญ่ */
}

/* สำหรับหน้าจอแท็บเล็ต (หน้าจอขนาดกลาง) */
@media (max-width: 1024px) {
  .register-container {
    padding: 20px 40px;
    /* ปรับ padding สำหรับหน้าจอแท็บเล็ต */
  }

}


@media (min-width: 800px) {
  
  .register-container{
    width: 100%;
    max-width: 440px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); /* เพิ่มเงาให้ฟอร์มดูชัดเจนขึ้น */
  }
  .register-svg img {
    width: 40%;
}
.social-title {
  margin-top: 30px;
}
.sign-up-title {
margin-top: 20px;
}
.login-form .form-links {

margin-bottom: 15px;
}

}
/* สำหรับหน้าจอมือถือ (หน้าจอขนาดเล็ก) */
@media (max-width: 768px) {
  .register-container {
    padding: 20px 30px;
    /* ปรับ padding สำหรับหน้าจอมือถือ */
  }
}

/* สำหรับหน้าจอมือถือขนาดเล็กมาก */
@media (max-width: 480px) {
  .register-container {
    padding: 16px 20px;
    /* ปรับ padding ให้เล็กลงสำหรับหน้าจอมือถือขนาดเล็ก */
  }
}
