<div id="sidenav" class="sidenav">
  <div class="sidenav-title">
    <div class="sidenav-logo"><img src="https://taxidee.com/san/car-insurance/theme/img/logo3.png" alt=""></div>
    <div class="sidenav-icon">
      <a href="#" class="sidebar-close" onclick="closeNav()">&times;</a>
    </div>

  </div>
  <!--เข้าสู่ระบบ -->
  <div class="menu-sidenav">
    เข้าสู่ระบบ
  </div>
  <ul class="listview">
    <li>
      <a href="../../page/login/login.php" class="item">
        <div class="icon-box">
          <i class="fa-solid fa-user"></i>
        </div>
        <div class="in">
          เข้าสู่ระบบ
          <div class="in-right">
            <i class="fa-solid fa-chevron-right"></i>
          </div>

        </div>
      </a>
    </li>


  </ul>
  <!-- ประกันภัย -->
  <div class="menu-sidenav">
    ประกันภัย
  </div>
  <!-- listview" -->
  <ul class="listview">
    <li>
      <a href="/car-insurance/theme/page/page-mobile/app-car-insurance.php" class="item">
        <div class="icon-box">
          <i class="fa-solid fa-steering-wheel"></i>
        </div>
        <div class="in">
          ประกันภัยรถยนต์
          <div class="in-right">
            <i class="fa-solid fa-chevron-right"></i>
          </div>

        </div>
      </a>
    </li>
    <li>
      <a href="/car-insurance/theme/page/page-mobile/app-other-insurance.php" class="item">
        <div class="icon-box ">
          <i class="fa-solid fa-shield"></i>
        </div>
        <div class="in">

          ประกันภัยอื่นๆ

          <div class="in-right">
            <i class="fa-solid fa-chevron-right"></i>

          </div>
        </div>
      </a>
    </li>

  </ul>
  <!-- menu -->
  <div class="menu-sidenav">
    บริการทางการเงิน
  </div>
  <!-- listview -->
  <ul class="listview">

    <li>
      <a href="app-pages.html" class="item">
        <div class="icon-box ">
          <i class="fa-solid fa-credit-card-front"></i>
        </div>
        <div class="in">
          บัตรเครดิต
          <div class="in-right">
          </div>

        </div>
      </a>
    </li>
    <li>
      <a href="app-components.html" class="item">
        <div class="icon-box ">
          <i class="fa-solid fa-landmark"></i>
        </div>
        <div class="in">
          สินเชื่อ
          <div class="in-right">
          </div>
        </div>
      </a>
    </li>

  </ul>

  <!-- ประกันภัย -->
  <div class="menu-sidenav">
    ข้อมูลทั่วไป
  </div>
  <ul class="listview">
    <li>
      <a href="index.html" class="item">
        <div class="icon-box">
          <i class="fa-solid fa-book"></i>
        </div>
        <div class="in">
          สาระน่ารู้
          <div class="in-right">

          </div>

        </div>
      </a>
    </li>
    <li>
      <a href="app-pages.html" class="item">
        <div class="icon-box ">
          <i class="fa-solid fa-messages-question"></i>
        </div>
        <div class="in">

          แจ้งปัญหา
          <div class="in-right">


          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="app-pages.html" class="item">
        <div class="icon-box ">
          <i class="fa-solid fa-screwdriver-wrench"></i>
        </div>
        <div class="in">

          ค้นหาอู่ซ่อม
          <div class="in-right">


          </div>
        </div>
      </a>
    </li>
  </ul>
  <!-- ประกันภัย -->
  <div class="menu-sidenav">
    องค์กร
  </div>
  <ul class="listview">
    <li>
      <a href="index.html" class="item">
        <div class="icon-box">
          <i class="fa-solid fa-chart-simple"></i>
        </div>
        <div class="in">
          นักลงทุนสัมพันธ์
          <div class="in-right">

          </div>

        </div>
      </a>
    </li>
    <li>
      <a href="app-pages.html" class="item">
        <div class="icon-box ">
          <i class="fa-solid fa-phone"></i>
        </div>
        <div class="in">
          ติดต่อเรา
          <div class="in-right">


          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="theme/component/page/app-about-us.php" class="item">
        <div class="icon-box ">
          <i class="fa-solid fa-user"></i>
        </div>
        <div class="in">
          เกี่ยวกับเรา
          <div class="in-right">
            <i class="fa-solid fa-chevron-right"></i>

          </div>
        </div>
      </a>
    </li>
  </ul>
</div>

<div class="overlay" onclick="closeNav()"></div>