<div class="footer-bg">
  <footer>
  <div class="footer-container">
      <div class="footer-container-left">
        <div class="footer-left-box">
          <div class="footer-logo">
            <img src="theme/img/logo.png" alt="Company Logo" />
          </div>
          <div class="footer-contact">
            <div class="footer-number">
              <i class="fas fa-phone"></i>
              <p>096-040-1148</p>
            </div>
            <div class="footer-email">
              <i class="fas fa-envelope"></i>
              <p>sampon@gmail.com</p>
            </div>
            <div class="footer-line">
              <i class="fa-brands fa-line"></i>
              <p>line</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-container-right">
        <div class="footer-category">
          <p class="footer-category-title">ซื้อประกันออนไลน์</p>
          <a href="" class="footer-link-item">ประกันรถยนต์ภาคบังคับ (พ.ร.บ.)</a>
          <a href="" class="footer-link-item">ประกันรถยนต์ภาคสมัครใจ</a>
          <a href="" class="footer-link-item">ประกันเดินทาง</a>
          <a href="" class="footer-link-item">ประกันอุบัติเหตุ</a>
        </div>
        <div class="footer-category">
          <p class="footer-category-title">เกี่ยวกับ Drive Safe</p>
          <a href="" class="footer-link-item">บทความ</a>
          <a href="" class="footer-link-item">รู้จัก Drive Safe</a>
          <a href="" class="footer-link-item">นโยบายคุ้มครองข้อมูลส่วนบุคคล</a>
          <a href="" class="footer-link-item">นโยบายการใช้คุกกี้</a>
          <a href="" class="footer-link-item">เงื่อนไขการซื้อประกัน</a>
        </div>
      </div>
    </div>

    <p class="footer-copyright">
      © Copyright 2023 บริษัท ไดพเซฟ จำกัด (มหาชน)
    </p>
  </footer>

  </div>