<section class="selected-vehicle main-section">
  <div class="card-container">
    <div class="title-contaienr">
      <div class="vehicle-Info">
        <div class="icon-box">
          <i class="fa-sharp-duotone fa-solid fa-cars"></i>
        </div>
        <div class="car-information">
          <h2>ข้อมูลรถของคุณ</h2>
        </div>
      </div>
      <div class="edit-form">
        <button onclick="switchForm()"><i class="fa-solid fa-pen-to-square"></i>แก้ไขข้อมูล</button>
      </div>
    </div>
    <div class="small-details">
      <p>ISUZU / D-MAX / 2022 / Auto 2 ประตู / 1.9 / S</p>
    </div>

    <!-- ==== form  ======= -->
    <div class="wrapper" id="editForm">
      <div class="form">
        <div class="input_field">
          <label for="">ยี่ห้อ</label>
          <div class="custom_select">
            <select class="type" name="" id="" disabled>
              <option value="">TOYOTA</option>
            </select>
          </div>
        </div>
        <div class="input_field">
          <label for="">เลือกรุ่น</label>
          <div class="custom_select">
            <select class="type" name="" id="" disabled>
              <option value="">CAMRY</option>
            </select>
          </div>
        </div>
        <div class="input_field">
          <label for="">เลือกปีรุ่น*</label>
          <div class="custom_select">
            <select class="type" name="" id="">
              <option value="">2022/ 2565</option>
            </select>
          </div>
        </div>
        <div class="input_field">
          <label for="">เลือกรุ่นย่อย*</label>
          <div class="custom_select">
            <select class="type" name="" id="">
              <option value="">Auto / 2.5 HEV PREMIUM</option>
            </select>
          </div>
        </div>
        <div class="button-box">
          <button class="interest-button">คํานวนดอกเบี้ยใหม่</button>
          <button class="reset-button">กรอกใหม่ทั้งหมด</button>
        </div>

      </div>
    </div>
  </div>
</section>