  <!-- ป็อปอัปสำหรับรายละเอียด 1 -->
  <div id="detailsPopup1" class="popup-list-card">
  <div class="popup-list-card-content">
      <span class="close-button-popup-list-card" onclick="closeDetailsPopup()"><i class="fa-solid fa-x"></i></span>
      <!--ส่วนเนื้อหาใน popup-->
      <div class="list-top">
        <div class="list-company">
          <div class="list-company-img">
            <img src="theme/img/company/insur_scb_car.png" alt="">
          </div>
          <div class="list-company-header">
            <div class="list-company-name popupcompany">ชับบ์สามัคคีประกันภัย</div>
            <div class="list-insurance-type">
              ประกันชั้น 2+
            </div>
          </div>
        </div>
        <div class="payment-info">
          <div class="monthly-payment"><span>594</span> บาท/เดือน</div>
          <div class="payment-term">(ผ่อนสูงสุด นาน 10 เดือน)</div>
        </div>
      </div>
      <div class="list-center">
        <div class="list-repair-type">
          <div class="list-repair-icon"><i class="fa-sharp-duotone fa-solid fa-car-wrench"></i></div>
          <div class="list-repair-text">ซ่อมอู่</div>
        </div>
        <div class="list-repair-type">
          <div class="list-repair-icon"><i class="fa-solid fa-money-bill-wave"></i> </div>
          <div class="list-repair-text">ผ่อนได้</div>
        </div>
      </div>
      <hr class="hr-card-details">
      <div class="filter-select-box list-card-popup">
        <div class="filter-header card-details">

          <h2>คุ้มครองรถยนต์</h2><!--<i class="fa-solid fa-chevron-down" onclick="arrowSwitch('car-protection', '.filter-header.card-details i')"></i> -->

        </div>
        <div id="car-protection" class="filter-options-box show">
          <div class="filter-Item">
            <ul class="item-list">
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ค่าเสียหายส่วนแรก</span>
                </div>
                <div class="checkbox-container card-details">
                  ไม่มี
                </div>
              </li>

              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>รถยนต์เสียหาย</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 บาท
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>รถยนต์สูญหาย / ไฟไหม้</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 บาท
                </div>
              </li>
              <!-- เพิ่มรายการบริษัทที่ต้องการซ่อนไว้ที่นี่ -->

            </ul>
          </div>
        </div>
        <div class="filter-header card-details">

          <h2>คุ้มครองภายนอก (บุคคลที่ 3)</h2> <!--  <i class="fa-solid fa-chevron-down" onclick="arrowSwitch('car-protection', '.filter-header.card-details i')"></i>-->

        </div>
        <div id="car-protection" class="filter-options-box show">
          <div class="filter-Item">
            <ul class="item-list">
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ทรัพย์สิน</span>
                </div>
                <div class="checkbox-container card-details">
                  1,000,000 / ครั้ง
                </div>
              </li>

              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ร่างกาย</span>
                </div>
                <div class="checkbox-container card-details">
                  500,000 / คน
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>บาดเจ็บ + เสียชีวิต</span>
                </div>
                <div class="checkbox-container card-details">
                  10,000,000 / ครั้ง
                </div>
              </li>
              <!-- เพิ่มรายการบริษัทที่ต้องการซ่อนไว้ที่นี่ -->

            </ul>
          </div>
        </div>

        <div class="filter-header card-details">

          <h2>คุ้มครองบุคคลภายในรถ</h2> <!--<i class="fa-solid fa-chevron-down" onclick="arrowSwitch('car-protection', '.filter-header.card-details i')"></i> -->

        </div>
        <div id="car-protection" class="filter-options-box show">
          <div class="filter-Item">
            <ul class="item-list">
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ผู้โดยสารเสียชีวิต 4 คน</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 / คน
                </div>
              </li>

              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ผู้โดยสารเสียชีวิต 4 คน</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 / คน
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ค่ารักษาพยาบาลผู้ขับขี่</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 / คน
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ค่ารักษาพยาบาลผู้โดยสาร 4 คน</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 / คน
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ประกันตัวผู้ขับขี่</span>
                </div>
                <div class="checkbox-container card-details">
                  200,000 / ครั้ง
                </div>
              </li>
              <!-- เพิ่มรายการบริษัทที่ต้องการซ่อนไว้ที่นี่ -->

            </ul>
          </div>
        </div>
      </div>
      <div class="list-details3 card-details">
        <button class="button-buy">
          <div class="premium-container">
            <div class="price-box">
              <div class="insurance-premium">เบี้ยประกัน/ปี</div>
              <div class="price">฿6,674 <span class="discount">฿6,001</span> </div>
            </div>
            <div class="buy-icon">ซื้อเลย</div>
          </div>
        </button>
   
      </div>




    </div>
  </div>


  <!-- ป็อปอัปสำหรับรายละเอียด 2 -->
  <div id="detailsPopup2" class="popup-list-card">
    <div class="popup-list-card-content">
      <span class="close-button-popup-list-card" onclick="closeDetailsPopup()"><i class="fa-solid fa-x"></i></span>
      <!--ส่วนเนื้อหาใน popup-->
      <div class="list-top">
        <div class="list-company">
          <div class="list-company-img">
            <img src="theme/img/company/insur_zurich_car.png" alt="">
          </div>
          <div class="list-company-header">
            <div class="list-company-name popupcompany">เออร์โกประกันภัย</div>
            <div class="list-insurance-type">
              ประกันชั้น 2+
            </div>
          </div>
        </div>
        <div class="payment-info">
          <div class="monthly-payment"><span>594</span> บาท/เดือน</div>
          <div class="payment-term">(ผ่อนสูงสุด นาน 10 เดือน)</div>
        </div>
      </div>
      <div class="list-center">
        <div class="list-repair-type">
          <div class="list-repair-icon"><i class="fa-sharp-duotone fa-solid fa-car-wrench"></i></div>
          <div class="list-repair-text">ซ่อมอู่</div>
        </div>
        <div class="list-repair-type">
          <div class="list-repair-icon"><i class="fa-solid fa-money-bill-wave"></i> </div>
          <div class="list-repair-text">ผ่อนได้</div>
        </div>
      </div>
      <hr class="hr-card-details">
      <div class="filter-select-box list-card-popup">
        <div class="filter-header card-details">

          <h2>คุ้มครองรถยนต์</h2><!--<i class="fa-solid fa-chevron-down" onclick="arrowSwitch('car-protection', '.filter-header.card-details i')"></i> -->

        </div>
        <div id="car-protection" class="filter-options-box show">
          <div class="filter-Item">
            <ul class="item-list">
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ค่าเสียหายส่วนแรก</span>
                </div>
                <div class="checkbox-container card-details">
                  ไม่มี
                </div>
              </li>

              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>รถยนต์เสียหาย</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 บาท
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>รถยนต์สูญหาย / ไฟไหม้</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 บาท
                </div>
              </li>
              <!-- เพิ่มรายการบริษัทที่ต้องการซ่อนไว้ที่นี่ -->

            </ul>
          </div>
        </div>
        <div class="filter-header card-details">

          <h2>คุ้มครองภายนอก (บุคคลที่ 3)</h2><!--<i class="fa-solid fa-chevron-down" onclick="arrowSwitch('car-protection', '.filter-header.card-details i')"></i> -->

        </div>
        <div id="car-protection" class="filter-options-box show">
          <div class="filter-Item">
            <ul class="item-list">
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ทรัพย์สิน</span>
                </div>
                <div class="checkbox-container card-details">
                  1,000,000 / ครั้ง
                </div>
              </li>

              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ร่างกาย</span>
                </div>
                <div class="checkbox-container card-details">
                  500,000 / คน
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>บาดเจ็บ + เสียชีวิต</span>
                </div>
                <div class="checkbox-container card-details">
                  10,000,000 / ครั้ง
                </div>
              </li>
              <!-- เพิ่มรายการบริษัทที่ต้องการซ่อนไว้ที่นี่ -->

            </ul>
          </div>
        </div>

        <div class="filter-header card-details">

          <h2>คุ้มครองบุคคลภายในรถ</h2><!--<i class="fa-solid fa-chevron-down" onclick="arrowSwitch('car-protection', '.filter-header.card-details i')"></i> -->

        </div>
        <div id="car-protection" class="filter-options-box show">
          <div class="filter-Item">
            <ul class="item-list">
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ผู้โดยสารเสียชีวิต 4 คน</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 / คน
                </div>
              </li>

              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ผู้โดยสารเสียชีวิต 4 คน</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 / คน
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ค่ารักษาพยาบาลผู้ขับขี่</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 / คน
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ค่ารักษาพยาบาลผู้โดยสาร 4 คน</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 / คน
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ประกันตัวผู้ขับขี่</span>
                </div>
                <div class="checkbox-container card-details">
                  200,000 / ครั้ง
                </div>
              </li>
              <!-- เพิ่มรายการบริษัทที่ต้องการซ่อนไว้ที่นี่ -->

            </ul>
          </div>
        </div>
      </div>
      <div class="list-details3 card-details">
        <button class="button-buy">
          <div class="premium-container">
            <div class="price-box">
              <div class="insurance-premium">เบี้ยประกัน/ปี</div>
              <div class="price">฿5,500 <span class="discount">฿5,695</span> </div>
            </div>
            <div class="buy-icon">ซื้อเลย</div>
          </div>
        </button>
   
      </div>




    </div>
    <!-- ส่วนเนื้อหาใน popup- -->
  </div>
 


  <!-- ป็อปอัปสำหรับรายละเอียด 3 -->
  <div id="detailsPopup3" class="popup-list-card">
  <div class="popup-list-card-content">
      <span class="close-button-popup-list-card" onclick="closeDetailsPopup()"><i class="fa-solid fa-x"></i></span>
      <!--ส่วนเนื้อหาใน popup-->
      <div class="list-top">
        <div class="list-company">
          <div class="list-company-img">
            <img src="theme/img/company/insur_axa_car.png" alt="">
          </div>
          <div class="list-company-header">
            <div class="list-company-name popupcompany">เออร์โกประกันภัย</div>
            <div class="list-insurance-type">
              ประกันชั้น 2+
            </div>
          </div>
        </div>
        <div class="payment-info">
          <div class="monthly-payment"><span>594</span> บาท/เดือน</div>
          <div class="payment-term">(ผ่อนสูงสุด นาน 10 เดือน)</div>
        </div>
      </div>
      <div class="list-center">
        <div class="list-repair-type">
          <div class="list-repair-icon"><i class="fa-sharp-duotone fa-solid fa-car-wrench"></i></div>
          <div class="list-repair-text">ซ่อมอู่</div>
        </div>
        <div class="list-repair-type">
          <div class="list-repair-icon"><i class="fa-solid fa-money-bill-wave"></i> </div>
          <div class="list-repair-text">ผ่อนได้</div>
        </div>
      </div>
      <hr class="hr-card-details">
      <div class="filter-select-box list-card-popup">
        <div class="filter-header card-details">

          <h2>คุ้มครองรถยนต์</h2> <!--<i class="fa-solid fa-chevron-down" onclick="arrowSwitch('car-protection', '.filter-header.card-details i')"></i> -->

        </div>
        <div id="car-protection" class="filter-options-box show">
          <div class="filter-Item">
            <ul class="item-list">
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ค่าเสียหายส่วนแรก</span>
                </div>
                <div class="checkbox-container card-details">
                  ไม่มี
                </div>
              </li>

              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>รถยนต์เสียหาย</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 บาท
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>รถยนต์สูญหาย / ไฟไหม้</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 บาท
                </div>
              </li>
              <!-- เพิ่มรายการบริษัทที่ต้องการซ่อนไว้ที่นี่ -->

            </ul>
          </div>
        </div>
        <div class="filter-header card-details">

          <h2>คุ้มครองภายนอก (บุคคลที่ 3)</h2><!--<i class="fa-solid fa-chevron-down" onclick="arrowSwitch('car-protection', '.filter-header.card-details i')"></i> -->

        </div>
        <div id="car-protection" class="filter-options-box show">
          <div class="filter-Item">
            <ul class="item-list">
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ทรัพย์สิน</span>
                </div>
                <div class="checkbox-container card-details">
                  1,000,000 / ครั้ง
                </div>
              </li>

              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ร่างกาย</span>
                </div>
                <div class="checkbox-container card-details">
                  500,000 / คน
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>บาดเจ็บ + เสียชีวิต</span>
                </div>
                <div class="checkbox-container card-details">
                  10,000,000 / ครั้ง
                </div>
              </li>
              <!-- เพิ่มรายการบริษัทที่ต้องการซ่อนไว้ที่นี่ -->

            </ul>
          </div>
        </div>

        <div class="filter-header card-details">

          <h2>คุ้มครองบุคคลภายในรถ</h2><!--<i class="fa-solid fa-chevron-down" onclick="arrowSwitch('car-protection', '.filter-header.card-details i')"></i> -->

        </div>
        <div id="car-protection" class="filter-options-box show">
          <div class="filter-Item">
            <ul class="item-list">
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ผู้โดยสารเสียชีวิต 4 คน</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 / คน
                </div>
              </li>

              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ผู้โดยสารเสียชีวิต 4 คน</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 / คน
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ค่ารักษาพยาบาลผู้ขับขี่</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 / คน
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ค่ารักษาพยาบาลผู้โดยสาร 4 คน</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 / คน
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ประกันตัวผู้ขับขี่</span>
                </div>
                <div class="checkbox-container card-details">
                  200,000 / ครั้ง
                </div>
              </li>
              <!-- เพิ่มรายการบริษัทที่ต้องการซ่อนไว้ที่นี่ -->

            </ul>
          </div>
        </div>
      </div>
      <div class="list-details3 card-details">
        <button class="button-buy">
          <div class="premium-container">
            <div class="price-box">
              <div class="insurance-premium">เบี้ยประกัน/ปี</div>
              <div class="price">฿6,085 <span class="discount">฿6,201</span> </div>
            </div>
            <div class="buy-icon">ซื้อเลย</div>
          </div>
        </button>
   
      </div>




    </div>
  </div>


  <!-- ป็อปอัปสำหรับรายละเอียด 4 -->
  <div id="detailsPopup4" class="popup-list-card">
  <div class="popup-list-card-content">
      <span class="close-button-popup-list-card" onclick="closeDetailsPopup()"><i class="fa-solid fa-x"></i></span>
      <!--ส่วนเนื้อหาใน popup-->
      <div class="list-top">
        <div class="list-company">
          <div class="list-company-img">
            <img src="theme/img/company/insur_tvi_car.png" alt="">
          </div>
          <div class="list-company-header">
            <div class="list-company-name popupcompany">ประกันภัยไทยวิวัฒน์</div>
            <div class="list-insurance-type">
              ประกันชั้น 2+
            </div>
          </div>
        </div>
        <div class="payment-info">
          <div class="monthly-payment"><span>594</span> บาท/เดือน</div>
          <div class="payment-term">(ผ่อนสูงสุด นาน 10 เดือน)</div>
        </div>
      </div>
      <div class="list-center">
        <div class="list-repair-type">
          <div class="list-repair-icon"><i class="fa-sharp-duotone fa-solid fa-car-wrench"></i></div>
          <div class="list-repair-text">ซ่อมอู่</div>
        </div>
        <div class="list-repair-type">
          <div class="list-repair-icon"><i class="fa-solid fa-money-bill-wave"></i> </div>
          <div class="list-repair-text">ผ่อนได้</div>
        </div>
      </div>
      <hr class="hr-card-details">
      <div class="filter-select-box list-card-popup">
        <div class="filter-header card-details">

          <h2>คุ้มครองรถยนต์</h2><!--<i class="fa-solid fa-chevron-down" onclick="arrowSwitch('car-protection', '.filter-header.card-details i')"></i> -->

        </div>
        <div id="car-protection" class="filter-options-box show">
          <div class="filter-Item">
            <ul class="item-list">
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ค่าเสียหายส่วนแรก</span>
                </div>
                <div class="checkbox-container card-details">
                  ไม่มี
                </div>
              </li>

              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>รถยนต์เสียหาย</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 บาท
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>รถยนต์สูญหาย / ไฟไหม้</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 บาท
                </div>
              </li>
              <!-- เพิ่มรายการบริษัทที่ต้องการซ่อนไว้ที่นี่ -->

            </ul>
          </div>
        </div>
        <div class="filter-header card-details">

          <h2>คุ้มครองภายนอก (บุคคลที่ 3)</h2><!--<i class="fa-solid fa-chevron-down" onclick="arrowSwitch('car-protection', '.filter-header.card-details i')"></i> -->

        </div>
        <div id="car-protection" class="filter-options-box show">
          <div class="filter-Item">
            <ul class="item-list">
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ทรัพย์สิน</span>
                </div>
                <div class="checkbox-container card-details">
                  1,000,000 / ครั้ง
                </div>
              </li>

              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ร่างกาย</span>
                </div>
                <div class="checkbox-container card-details">
                  500,000 / คน
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>บาดเจ็บ + เสียชีวิต</span>
                </div>
                <div class="checkbox-container card-details">
                  10,000,000 / ครั้ง
                </div>
              </li>
              <!-- เพิ่มรายการบริษัทที่ต้องการซ่อนไว้ที่นี่ -->

            </ul>
          </div>
        </div>

        <div class="filter-header card-details">

          <h2>คุ้มครองบุคคลภายในรถ</h2><!--<i class="fa-solid fa-chevron-down" onclick="arrowSwitch('car-protection', '.filter-header.card-details i')"></i> -->

        </div>
        <div id="car-protection" class="filter-options-box show">
          <div class="filter-Item">
            <ul class="item-list">
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ผู้โดยสารเสียชีวิต 4 คน</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 / คน
                </div>
              </li>

              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ผู้โดยสารเสียชีวิต 4 คน</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 / คน
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ค่ารักษาพยาบาลผู้ขับขี่</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 / คน
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ค่ารักษาพยาบาลผู้โดยสาร 4 คน</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 / คน
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ประกันตัวผู้ขับขี่</span>
                </div>
                <div class="checkbox-container card-details">
                  200,000 / ครั้ง
                </div>
              </li>
              <!-- เพิ่มรายการบริษัทที่ต้องการซ่อนไว้ที่นี่ -->

            </ul>
          </div>
        </div>
      </div>
      <div class="list-details3 card-details">
        <button class="button-buy">
          <div class="premium-container">
            <div class="price-box">
              <div class="insurance-premium">เบี้ยประกัน/ปี</div>
              <div class="price">฿3,000 <span class="discount"> ฿2,000 </span> </div>
            </div>
            <div class="buy-icon">ซื้อเลย</div>
          </div>
        </button>
   
      </div>




    </div>
  </div>


  <!-- ป็อปอัปสำหรับรายละเอียด 5 -->
  <div id="detailsPopup5" class="popup-list-card">
  <div class="popup-list-card-content">
      <span class="close-button-popup-list-card" onclick="closeDetailsPopup()"><i class="fa-solid fa-x"></i></span>
      <!--ส่วนเนื้อหาใน popup-->
      <div class="list-top">
        <div class="list-company">
          <div class="list-company-img">
            <img src="../../img/company/insur_tsi_car.png" alt="">
          </div>
          <div class="list-company-header">
            <div class="list-company-name popupcompany">ไทยเศรษฐกิจประกันภัย</div>
            <div class="list-insurance-type">
              ประกันชั้น 2+
            </div>
          </div>
        </div>
        <div class="payment-info">
          <div class="monthly-payment"><span>594</span> บาท/เดือน</div>
          <div class="payment-term">(ผ่อนสูงสุด นาน 10 เดือน)</div>
        </div>
      </div>
      <div class="list-center">
        <div class="list-repair-type">
          <div class="list-repair-icon"><i class="fa-sharp-duotone fa-solid fa-car-wrench"></i></div>
          <div class="list-repair-text">ซ่อมอู่</div>
        </div>
        <div class="list-repair-type">
          <div class="list-repair-icon"><i class="fa-solid fa-money-bill-wave"></i> </div>
          <div class="list-repair-text">ผ่อนได้</div>
        </div>
      </div>
      <hr class="hr-card-details">
      <div class="filter-select-box list-card-popup">
        <div class="filter-header card-details">

          <h2>คุ้มครองรถยนต์</h2><!--<i class="fa-solid fa-chevron-down" onclick="arrowSwitch('car-protection', '.filter-header.card-details i')"></i> -->

        </div>
        <div id="car-protection" class="filter-options-box show">
          <div class="filter-Item">
            <ul class="item-list">
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ค่าเสียหายส่วนแรก</span>
                </div>
                <div class="checkbox-container card-details">
                  ไม่มี
                </div>
              </li>

              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>รถยนต์เสียหาย</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 บาท
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>รถยนต์สูญหาย / ไฟไหม้</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 บาท
                </div>
              </li>
              <!-- เพิ่มรายการบริษัทที่ต้องการซ่อนไว้ที่นี่ -->

            </ul>
          </div>
        </div>
        <div class="filter-header card-details">

          <h2>คุ้มครองภายนอก (บุคคลที่ 3)</h2><!--<i class="fa-solid fa-chevron-down" onclick="arrowSwitch('car-protection', '.filter-header.card-details i')"></i> -->

        </div>
        <div id="car-protection" class="filter-options-box show">
          <div class="filter-Item">
            <ul class="item-list">
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ทรัพย์สิน</span>
                </div>
                <div class="checkbox-container card-details">
                  1,000,000 / ครั้ง
                </div>
              </li>

              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ร่างกาย</span>
                </div>
                <div class="checkbox-container card-details">
                  500,000 / คน
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>บาดเจ็บ + เสียชีวิต</span>
                </div>
                <div class="checkbox-container card-details">
                  10,000,000 / ครั้ง
                </div>
              </li>
              <!-- เพิ่มรายการบริษัทที่ต้องการซ่อนไว้ที่นี่ -->

            </ul>
          </div>
        </div>

        <div class="filter-header card-details">

          <h2>คุ้มครองบุคคลภายในรถ</h2><!--<i class="fa-solid fa-chevron-down" onclick="arrowSwitch('car-protection', '.filter-header.card-details i')"></i> -->

        </div>
        <div id="car-protection" class="filter-options-box show">
          <div class="filter-Item">
            <ul class="item-list">
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ผู้โดยสารเสียชีวิต 4 คน</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 / คน
                </div>
              </li>

              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ผู้โดยสารเสียชีวิต 4 คน</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 / คน
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ค่ารักษาพยาบาลผู้ขับขี่</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 / คน
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ค่ารักษาพยาบาลผู้โดยสาร 4 คน</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 / คน
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ประกันตัวผู้ขับขี่</span>
                </div>
                <div class="checkbox-container card-details">
                  200,000 / ครั้ง
                </div>
              </li>
              <!-- เพิ่มรายการบริษัทที่ต้องการซ่อนไว้ที่นี่ -->

            </ul>
          </div>
        </div>
      </div>
      <div class="list-details3 card-details">
        <button class="button-buy">
          <div class="premium-container">
            <div class="price-box">
              <div class="insurance-premium">เบี้ยประกัน/ปี</div>
              <div class="price">฿9,084 <span class="discount">฿7,201</span> </div>
            </div>
            <div class="buy-icon">ซื้อเลย</div>
          </div>
        </button>
   
      </div>




    </div>
  </div>


  <!-- ป็อปอัปสำหรับรายละเอียด 6 -->
  <div id="detailsPopup6" class="popup-list-card">
  <div class="popup-list-card-content">
      <span class="close-button-popup-list-card" onclick="closeDetailsPopup()"><i class="fa-solid fa-x"></i></span>
      <!--ส่วนเนื้อหาใน popup-->
      <div class="list-top">
        <div class="list-company">
          <div class="list-company-img">
            <img src="../../img/company/insur_safety_car.png"" alt="">
          </div>
          <div class="list-company-header">
            <div class="list-company-name popupcompany">คุ้มภัยโตเกียวมารีนประกันภัย</div>
            <div class="list-insurance-type">
              ประกันชั้น 2+
            </div>
          </div>
        </div>
        <div class="payment-info">
          <div class="monthly-payment"><span>594</span> บาท/เดือน</div>
          <div class="payment-term">(ผ่อนสูงสุด นาน 10 เดือน)</div>
        </div>
      </div>
      <div class="list-center">
        <div class="list-repair-type">
          <div class="list-repair-icon"><i class="fa-sharp-duotone fa-solid fa-car-wrench"></i></div>
          <div class="list-repair-text">ซ่อมอู่</div>
        </div>
        <div class="list-repair-type">
          <div class="list-repair-icon"><i class="fa-solid fa-money-bill-wave"></i> </div>
          <div class="list-repair-text">ผ่อนได้</div>
        </div>
      </div>
      <hr class="hr-card-details">
      <div class="filter-select-box list-card-popup">
        <div class="filter-header card-details">

          <h2>คุ้มครองรถยนต์</h2><!--<i class="fa-solid fa-chevron-down" onclick="arrowSwitch('car-protection', '.filter-header.card-details i')"></i> -->

        </div>
        <div id="car-protection" class="filter-options-box show">
          <div class="filter-Item">
            <ul class="item-list">
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ค่าเสียหายส่วนแรก</span>
                </div>
                <div class="checkbox-container card-details">
                  ไม่มี
                </div>
              </li>

              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>รถยนต์เสียหาย</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 บาท
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>รถยนต์สูญหาย / ไฟไหม้</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 บาท
                </div>
              </li>
              <!-- เพิ่มรายการบริษัทที่ต้องการซ่อนไว้ที่นี่ -->

            </ul>
          </div>
        </div>
        <div class="filter-header card-details">

          <h2>คุ้มครองภายนอก (บุคคลที่ 3)</h2><!--<i class="fa-solid fa-chevron-down" onclick="arrowSwitch('car-protection', '.filter-header.card-details i')"></i> -->

        </div>
        <div id="car-protection" class="filter-options-box show">
          <div class="filter-Item">
            <ul class="item-list">
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ทรัพย์สิน</span>
                </div>
                <div class="checkbox-container card-details">
                  1,000,000 / ครั้ง
                </div>
              </li>

              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ร่างกาย</span>
                </div>
                <div class="checkbox-container card-details">
                  500,000 / คน
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>บาดเจ็บ + เสียชีวิต</span>
                </div>
                <div class="checkbox-container card-details">
                  10,000,000 / ครั้ง
                </div>
              </li>
              <!-- เพิ่มรายการบริษัทที่ต้องการซ่อนไว้ที่นี่ -->

            </ul>
          </div>
        </div>

        <div class="filter-header card-details">

          <h2>คุ้มครองบุคคลภายในรถ</h2><!--<i class="fa-solid fa-chevron-down" onclick="arrowSwitch('car-protection', '.filter-header.card-details i')"></i> -->

        </div>
        <div id="car-protection" class="filter-options-box show">
          <div class="filter-Item">
            <ul class="item-list">
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ผู้โดยสารเสียชีวิต 4 คน</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 / คน
                </div>
              </li>

              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ผู้โดยสารเสียชีวิต 4 คน</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 / คน
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ค่ารักษาพยาบาลผู้ขับขี่</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 / คน
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ค่ารักษาพยาบาลผู้โดยสาร 4 คน</span>
                </div>
                <div class="checkbox-container card-details">
                  100,000 / คน
                </div>
              </li>
              <li class="visible-item">
                <div class="icon-title-box card-details">

                  <span>ประกันตัวผู้ขับขี่</span>
                </div>
                <div class="checkbox-container card-details">
                  200,000 / ครั้ง
                </div>
              </li>
              <!-- เพิ่มรายการบริษัทที่ต้องการซ่อนไว้ที่นี่ -->

            </ul>
          </div>
        </div>
      </div>
      <div class="list-details3 card-details">
        <button class="button-buy">
          <div class="premium-container">
            <div class="price-box">
              <div class="insurance-premium">เบี้ยประกัน/ปี</div>
              <div class="price">฿5,084 <span class="discount">฿4,201</span> </div>
            </div>
            <div class="buy-icon">ซื้อเลย</div>
          </div>
        </button>
   
      </div>




    </div>
  </div>


