<section class="list-box main-section">
  <div class="list-header">
    <h2>ผลลัพธ์ <span>6 รายการ</span> </h2>
    <div class="list-filler">
      <div class="icon-list" id="sortIcon" data-sort-order="asc">
        <i class="fa-duotone fa-solid fa-arrow-up-arrow-down up"></i>
      </div>
      <h2 id="sortLabel">ราคาจาก น้อย-มาก</h2>
    </div>
  </div>
  <div class="list-container" id="listContainer">
<!-- รายละเอียด 1 -->
    <div class="list-card">
      <div class="list-top">
        <div class="list-company">
          <div class="list-company-img">
            <img src="../../img/company/insur_scb_car.png" alt="">
          </div>
          <div class="list-company-header">
            <div class="list-company-name">ชับบ์สามัคคีประกันภัย</div>
            <div class="list-insurance-type">
              ประกันชั้น 2+
            </div>
          </div>
        </div>
        <div class="list-compare-box">
          <div class="checkbox-container">
          <input type="checkbox" class="compare-checkbox" 
         data-item="Item 1"
         data-price="6,674"
         data-floor="2+"
         data-image="../../img/company/insur_scb_car.png">
            <label for="compareCheckbox">เปรียบเทียบ</label>
          </div>
        </div>
      </div>
      <div class="list-center">
        <div class="list-repair-type">
          <div class="list-repair-icon"><i class="fa-sharp-duotone fa-solid fa-car-wrench"></i></div>
          <div class="list-repair-text">ซ่อมอู่</div>
        </div>
        <div class="list-repair-type">
          <div class="list-repair-icon"><i class="fa-solid fa-money-bill-wave"></i> </div>
          <div class="list-repair-text">ผ่อนได้</div>
        </div>
      </div>
      <hr>
      <div class="list-details1">
        <div class="insurance-type">2+ Eco Package</div>

        <div class="insurance-fund">
          <div class="insurance-fund-label">ทุนประกัน</div>
          <div class="insurance-fund-value">200,000 บาท</div>
        </div>

      </div>
      <div class="list-details2">
        <div class="deductible-info">
          <div class="deductible-label">ค่าเสียหายส่วนแรก</div>
          <div class="deductible-value">ไม่มี</div>
        </div>

        <div class="payment-info">
          <div class="monthly-payment"><span>710</span> บาท/เดือน</div>
          <div class="payment-term">(ผ่อนสูงสุด นาน 10 เดือน)</div>
        </div>
      </div>

    

      <!-- ปุ่มรายละเอียด -->
      <div class="list-details3">
        <button class="button-buy"onclick="window.location.href='/car-insurance/theme/page/insured-info/insured-info.php';">
          <div class="premium-container">
            <div class="price-box">
              <div class="insurance-premium">เบี้ยประกัน/ปี</div>
              <div class="price">฿6,674 <span class="discount">฿6,801</span> </div>
            </div>
            <div class="buy-icon"><i class="fa-solid fa-chevron-right"></i></div>
          </div>
        </button>
        <button class="button-details" data-popup="detailsPopup1">รายละเอียด</button>
      </div>
    </div>
<!-- รายละเอียด 2 -->
    <div class="list-card">
      <div class="list-top">
        <div class="list-company">
          <div class="list-company-img">
            <img src="../../img/company/insur_zurich_car.png" alt="">
          </div>
          <div class="list-company-header">
            <div class="list-company-name">เออร์โกประกันภัย</div>
            <div class="list-insurance-type">
              ประกันชั้น 2+
            </div>
          </div>
        </div>
        <div class="list-compare-box">
          <div class="checkbox-container">
          <input type="checkbox" class="compare-checkbox" 
         data-item="Item 2"
         data-price="5,500"
         data-floor="2+"
         data-image="../../img/company/insur_zurich_car.png">
            <label for="compareCheckbox">เปรียบเทียบ</label>
          </div>
        </div>
      </div>
      <div class="list-center">
        <div class="list-repair-type">
          <div class="list-repair-icon"><i class="fa-sharp-duotone fa-solid fa-car-wrench"></i></div>
          <div class="list-repair-text">ซ่อมอู่</div>
        </div>
        <div class="list-repair-type">
          <div class="list-repair-icon"><i class="fa-solid fa-money-bill-wave"></i> </div>
          <div class="list-repair-text">ผ่อนได้</div>
        </div>
      </div>
      <hr>
      <div class="list-details1">
        <div class="insurance-type">Cover 2+ รหัส 110</div>

        <div class="insurance-fund">
          <div class="insurance-fund-label">ทุนประกัน</div>
          <div class="insurance-fund-value">100,000 บาท</div>
        </div>

      </div>
      <div class="list-details2">
        <div class="deductible-info">
          <div class="deductible-label">ค่าเสียหายส่วนแรก</div>
          <div class="deductible-value">ไม่มี</div>
        </div>

        <div class="payment-info">
          <div class="monthly-payment"><span>594</span> บาท/เดือน</div>
          <div class="payment-term">(ผ่อนสูงสุด นาน 10 เดือน)</div>
        </div>
      </div>



    
      <!-- ปุ่มรายละเอียด -->
      <div class="list-details3">
        <button class="button-buy"onclick="window.location.href='/car-insurance/theme/page/insured-info/insured-info.php';">
          <div class="premium-container">
            <div class="price-box">
              <div class="insurance-premium">เบี้ยประกัน/ปี</div>
              <div class="price">฿5,500 <span class="discount">฿5,695</span> </div>
            </div>
            <div class="buy-icon"><i class="fa-solid fa-chevron-right"></i></div>
          </div>
        </button>
        <button class="button-details" data-popup="detailsPopup2">รายละเอียด</button>
      </div>
    </div>
   <!-- รายละเอียด 3 --> 
    <div class="list-card">
      <div class="list-top">
        <div class="list-company">
          <div class="list-company-img">
            <img src="../../img/company/insur_axa_car.png" alt="">
          </div>
          <div class="list-company-header">
            <div class="list-company-name">เเอกซ่าประกันภัย</div>
            <div class="list-insurance-type">
              ประกันชั้น 2+
            </div>
          </div>
        </div>
        <div class="list-compare-box">
          <div class="checkbox-container">
          <input type="checkbox" class="compare-checkbox" 
         data-item="Item 3"
         data-price="6,085"
         data-floor="2+"
         data-image="../../img/company/insur_axa_car.png">
            <label for="compareCheckbox">เปรียบเทียบ</label>
          </div>
        </div>
      </div>
      <div class="list-center">
        <div class="list-repair-type">
          <div class="list-repair-icon"><i class="fa-sharp-duotone fa-solid fa-car-wrench"></i></div>
          <div class="list-repair-text">ซ่อมอู่</div>
        </div>
        <div class="list-repair-type">
          <div class="list-repair-icon"><i class="fa-solid fa-money-bill-wave"></i> </div>
          <div class="list-repair-text">ผ่อนได้</div>
        </div>
      </div>
      <hr>
      <div class="list-details1">
        <div class="insurance-type">Motor Type 2+</div>

        <div class="insurance-fund">
          <div class="insurance-fund-label">ทุนประกัน</div>
          <div class="insurance-fund-value">100,000 บาท</div>
        </div>

      </div>
      <div class="list-details2">
        <div class="deductible-info">
          <div class="deductible-label">ค่าเสียหายส่วนแรก</div>
          <div class="deductible-value">2,000 บาท</div>
        </div>

        <div class="payment-info">
          <div class="monthly-payment"><span>647</span> บาท/เดือน</div>
          <div class="payment-term">(ผ่อนสูงสุด นาน 10 เดือน)</div>
        </div>
      </div>

  

      <!-- ปุ่มรายละเอียด -->
      <div class="list-details3">
        <button class="button-buy"onclick="window.location.href='/car-insurance/theme/page/insured-info/insured-info.php';">
          <div class="premium-container">
            <div class="price-box">
              <div class="insurance-premium">เบี้ยประกัน/ปี</div>
              <div class="price">฿6,085 <span class="discount">฿6,201</span> </div>
            </div>
            <div class="buy-icon"><i class="fa-solid fa-chevron-right"></i></div>
          </div>
        </button>
        <button class="button-details" data-popup="detailsPopup3" >รายละเอียด</button>
      </div>
    </div>

   <!-- รายละเอียด 4 --> 
    <div class="list-card">
      <div class="list-top">
        <div class="list-company">
          <div class="list-company-img">
            <img src="../../img/company/insur_tvi_car.png" alt="">
          </div>
          <div class="list-company-header">
            <div class="list-company-name">ประกันภัยไทยวิวัฒน์</div>
            <div class="list-insurance-type">
              ประกันชั้น 2+
            </div>
          </div>
        </div>
        <div class="list-compare-box">
          <div class="checkbox-container">
          <input type="checkbox" class="compare-checkbox" 
         data-item="Item 4"
         data-price="3,000"
         data-floor="2+"
         data-image="../../img/company/insur_tvi_car.png">
            <label for="compareCheckbox">เปรียบเทียบ</label>
          </div>
        </div>
      </div>
      <div class="list-center">
        <div class="list-repair-type">
          <div class="list-repair-icon"><i class="fa-sharp-duotone fa-solid fa-car-wrench"></i></div>
          <div class="list-repair-text">ซ่อมอู่</div>
        </div>
        <div class="list-repair-type">
          <div class="list-repair-icon"><i class="fa-solid fa-money-bill-wave"></i> </div>
          <div class="list-repair-text">ผ่อนได้</div>
        </div>
      </div>
      <hr>
      <div class="list-details1">
        <div class="insurance-type">Motor Type 2+</div>

        <div class="insurance-fund">
          <div class="insurance-fund-label">ทุนประกัน</div>
          <div class="insurance-fund-value">100,000 บาท</div>
        </div>

      </div>
      <div class="list-details2">
        <div class="deductible-info">
          <div class="deductible-label">ค่าเสียหายส่วนแรก</div>
          <div class="deductible-value">2,000 บาท</div>
        </div>

        <div class="payment-info">
          <div class="monthly-payment"><span>647</span> บาท/เดือน</div>
          <div class="payment-term">(ผ่อนสูงสุด นาน 10 เดือน)</div>
        </div>
      </div>

  

      <!-- ปุ่มรายละเอียด -->
      <div class="list-details3">
        <button class="button-buy"onclick="window.location.href='/car-insurance/theme/page/insured-info/insured-info.php';">
          <div class="premium-container">
            <div class="price-box">
              <div class="insurance-premium">เบี้ยประกัน/ปี</div>
              <div class="price">฿3,000 <span class="discount">฿2,000</span> </div>
            </div>
            <div class="buy-icon"><i class="fa-solid fa-chevron-right"></i></div>
          </div>
        </button>
        <button class="button-details" data-popup="detailsPopup4" >รายละเอียด</button>
      </div>
    </div>
 <!-- รายละเอียด 5 -->
    <div class="list-card">
      <div class="list-top">
        <div class="list-company">
          <div class="list-company-img">
            <img src="../../img/company/insur_tsi_car.png" alt="">
          </div>
          <div class="list-company-header">
            <div class="list-company-name">ไทยเศรษฐกิจประกันภัย</div>
            <div class="list-insurance-type">
              ประกันชั้น 2+
            </div>
          </div>
        </div>
        <div class="list-compare-box">
          <div class="checkbox-container">
          <input type="checkbox" class="compare-checkbox" 
         data-item="Item 5"
         data-price="9,084"
         data-floor="2+"
         data-image="../../img/company/insur_tsi_car.png">
            <label for="compareCheckbox">เปรียบเทียบ</label>
          </div>
        </div>
      </div>
      <div class="list-center">
        <div class="list-repair-type">
          <div class="list-repair-icon"><i class="fa-sharp-duotone fa-solid fa-car-wrench"></i></div>
          <div class="list-repair-text">ซ่อมอู่</div>
        </div>
        <div class="list-repair-type">
          <div class="list-repair-icon"><i class="fa-solid fa-money-bill-wave"></i> </div>
          <div class="list-repair-text">ผ่อนได้</div>
        </div>
      </div>
      <hr>
      <div class="list-details1">
        <div class="insurance-type">Motor Type 2+</div>

        <div class="insurance-fund">
          <div class="insurance-fund-label">ทุนประกัน</div>
          <div class="insurance-fund-value">100,000 บาท</div>
        </div>

      </div>
      <div class="list-details2">
        <div class="deductible-info">
          <div class="deductible-label">ค่าเสียหายส่วนแรก</div>
          <div class="deductible-value">2,000 บาท</div>
        </div>

        <div class="payment-info">
          <div class="monthly-payment"><span>647</span> บาท/เดือน</div>
          <div class="payment-term">(ผ่อนสูงสุด นาน 10 เดือน)</div>
        </div>
      </div>

  

      <!-- ปุ่มรายละเอียด -->
      <div class="list-details3">
        <button class="button-buy"onclick="window.location.href='/car-insurance/theme/page/insured-info/insured-info.php';">
          <div class="premium-container">
            <div class="price-box">
              <div class="insurance-premium">เบี้ยประกัน/ปี</div>
              <div class="price">฿9,084 <span class="discount">฿7,201</span> </div>
            </div>
            <div class="buy-icon"><i class="fa-solid fa-chevron-right"></i></div>
          </div>
        </button>
        <button class="button-details" data-popup="detailsPopup5" >รายละเอียด </button>
      </div>
    </div>
     <!-- รายละเอียด 6 -->
    <div class="list-card">
      <div class="list-top">
        <div class="list-company">
          <div class="list-company-img">
            <img src="../../img/company/insur_safety_car.png" alt="">
          </div>
          <div class="list-company-header">
            <div class="list-company-name">คุ้มภัยโตเกียวมารีนประกันภัย</div>
            <div class="list-insurance-type">
              ประกันชั้น 2+
            </div>
          </div>
        </div>
        <div class="list-compare-box">
          <div class="checkbox-container">
          <input type="checkbox" class="compare-checkbox" 
         data-item="Item 6"
         data-price="5,084"
         data-floor="2+"
         data-image="../../img/company/insur_safety_car.png">
            <label for="compareCheckbox">เปรียบเทียบ</label>
          </div>
        </div>
      </div>
      <div class="list-center">
        <div class="list-repair-type">
          <div class="list-repair-icon"><i class="fa-sharp-duotone fa-solid fa-car-wrench"></i></div>
          <div class="list-repair-text">ซ่อมอู่</div>
        </div>
        <div class="list-repair-type">
          <div class="list-repair-icon"><i class="fa-solid fa-money-bill-wave"></i> </div>
          <div class="list-repair-text">ผ่อนได้</div>
        </div>
      </div>
      <hr>
      <div class="list-details1">
        <div class="insurance-type">Motor Type 2+</div>

        <div class="insurance-fund">
          <div class="insurance-fund-label">ทุนประกัน</div>
          <div class="insurance-fund-value">100,000 บาท</div>
        </div>

      </div>
      <div class="list-details2">
        <div class="deductible-info">
          <div class="deductible-label">ค่าเสียหายส่วนแรก</div>
          <div class="deductible-value">2,000 บาท</div>
        </div>

        <div class="payment-info">
          <div class="monthly-payment"><span>647</span> บาท/เดือน</div>
          <div class="payment-term">(ผ่อนสูงสุด นาน 10 เดือน)</div>
        </div>
      </div>

  

      <!-- ปุ่มรายละเอียด -->
      <div class="list-details3">
        <button class="button-buy"onclick="window.location.href='/car-insurance/theme/page/insured-info/insured-info.php';">
          <div class="premium-container">
            <div class="price-box">
              <div class="insurance-premium">เบี้ยประกัน/ปี</div>
              <div class="price">฿5,085 <span class="discount">฿4,201</span> </div>
            </div>
            <div class="buy-icon"><i class="fa-solid fa-chevron-right"></i></div>
          </div>
        </button>
        <button class="button-details" data-popup="detailsPopup6" >รายละเอียด</button>
      </div>
    </div>


  </div>

</section>